.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.modal {
  left: 0;
  max-height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 8%;
  width: 100%;
  z-index: 10;
}

@media (min-width: 480px) {
  .modal {
    left: calc(50% - 240px);
    top: 2%;
    width: 480px;
  }
}

@media (min-width: 1400px) {
  .modal {
    top: 10%;
  }
}
