.form {
  display: flex;
  flex-wrap: wrap;
}

.form-element {
  flex-basis: 100%;
  margin: 0 0 20px;
  position: relative;
}

.form-element input:not([type='checkbox']),
.form-element select {
  background-color: var(--bg-color-quaternary);
  border-bottom: 2px solid var(--color-quaternary-variant);
  border-left: none;
  border-right: none;
  border-top: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 15px;
  padding: 25px 15px 10px;
  width: 100%;
}

.form-element input[type='checkbox'] {
  align-self: flex-start;
  appearance: none;
  border: 2px solid var(--color-quaternary-variant);
  border-radius: 2px;
  margin: auto 15px;
  padding: 3px;
}

.form-element input[type='checkbox'],
.form-element input[type='checkbox'] + label {
  cursor: pointer;
}

.form-element input[type='checkbox'] + label {
  font-size: 14px;
}

.form-element input:focus,
.form-element select:focus {
  outline: none;
}

.form-element input:focus,
.form-element input:hover,
.form-element select:hover {
  background-color: var(--bg-color-quaternary-variant);
}

.form-element input:not([type='checkbox']):focus,
.form-element select:focus {
  border-bottom-color: var(--color-secondary-variant);
}

.form-element input[type='checkbox']:checked {
  border-color: var(--color-primary);
  background-color: var(--bg-color-primary);
}

.form-element input[type='checkbox']:hover,
.form-element input[type='checkbox']:focus,
.form-element input[type='checkbox']:checked:hover,
.form-element input[type='checkbox']:checked:focus {
  border-color: var(--color-secondary-variant);
}

.form-element input[type='checkbox']:checked:hover,
.form-element input[type='checkbox']:checked:focus {
  opacity: 0.8;
}

input[type='checkbox']::after {
  background-color: var(--bg-color-tertiary);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  content: '';
  display: block;
  height: 15px;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  width: 15px;
}

input[type='checkbox']:checked::after {
  transform: scale(1);
}

.form-element input:not([type='checkbox']) + label,
.form-element label:has(+ select) {
  left: 15px;
  pointer-events: none;
  position: absolute;
  top: 30%;
}

.form-element input:not([type='checkbox']) + label {
  transition: transform 0.3s;
}

.form-element select {
  appearance: none;
  background-image: url('../../assets/images/caret-down-fill.svg');
  background-position: calc(100% - 15px) 60%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.form-element:has(input[type='checkbox']) {
  display: flex;
}

.form-element input:not([type='checkbox']):focus + label,
.form-element input:not([type='checkbox']):not(:placeholder-shown) + label,
.form-element label:has(+ select) {
  transform: translate(-15%, -70%) scale(0.7);
}

.form-element input.error {
  border-bottom-color: var(--color-senary);
  color: var(--color-senary);
}

.form-element input.error + label {
  color: var(--color-senary);
}

.form-element input ~ p.error {
  animation: showError 1s forwards;
  color: var(--color-senary);
  font-size: 12px;
  left: 15px;
  opacity: 0;
  position: absolute;
  transform: translateY(-10px);
}

.submit {
  margin: 0;
  width: 100%;
}

@keyframes showError {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 576px) {
  .form-element:first-child {
    flex-basis: 50%;
    padding-right: 20px;
  }

  .form-element:nth-child(2) {
    flex-basis: 50%;
  }

  .form-element:nth-child(3) {
    padding-right: 20px;
    flex-basis: 75%;
  }

  .form-element:nth-child(4) {
    flex-basis: 25%;
  }
}
